body {
    background-color: #37225a;
    color: rgb(81, 236, 9);
}

input {
    border: 1px solid rgb(0, 38, 255);
    background-color: #3CBC8D;
}

button {
    background-color: #ee4dee; /* Green */
    border: 2px solid rgb(41, 65, 45);
    color: rgb(73, 74, 138);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

span {
    display: inline-block;
    width: 200px;
}

label {
    display: inline-block;
    width: 200px;
}

#labelId {
    width: 130px;
}